@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@theme {
  --font-sans: 'League+Spartan', sans-serif !important;
  --color-primary: #000000;
  --color-surface: #f8fafc;
}

@layer base {
  body {
    @apply antialiased text-slate-900 bg-white selection:bg-black selection:text-white;
    font-family: var(--font-sans);
  }

  /* Custom smooth scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full hover:bg-slate-300;
  }
}

/* Animations */
.animate-in {
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}